<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboo.selenium.tencent.qqspace.mapper.ImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bamboo.selenium.tencent.qqspace.entity.Image">
        <id column="id" property="id" />
        <result column="address" property="address" />
        <result column="type" property="type" />
        <result column="createTime" property="createTime" />
        <result column="related_id" property="relatedId" />
    </resultMap>

</mapper>
